<script src="/javascripts/search.js"></script>
<script src="/javascripts/dashboard.js"></script>
<script type="text/javascript" src="/javascripts/edit.js"></script>

<div class="movap-titulo">
  <h4 align="left">CADASTRO DOS APARELHOS</h4>
  <hr>
</div>
<div class="col">
  <div class="row">
    <div class="col-lg-5">
      <div class="bg clearfix col">
        <button type="button" class="btn btn-primary btn-info  btn-secondary float-left" aria-haspopup="true"
          aria-expanded="false" /><a style="color:#ffffff" href="/device/signup">NOVO</a></button>
      </div>
      <br>
      <div class="input-group">
        <input id="myInput" class="form-control" type="text" onkeyup="searchW();" placeholder="Pesquisar"
          aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <table class="table table-bordered table-responsive-sm mt-4">
        <tbody id="myTable" class="element">
          {{#each devices}}
          <tr>
            <th scope="row" class="font-book text-center" onclick="location.href='/device/movimentation/{{id}}'">
              {{numId}}</th>
            <th width="50" scope="row" class="font-book text-center"
              onclick="location.href='/device/movimentation/{{id}}'">. . .</th>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>